{% extends 'admin/base_site.html' %} 
{% load static %}

{% block content %}
<div id="content-main">
    <h1>Carga Masiva de Participantes por CSV</h1>
    <p>Sube un archivo CSV con las columnas Nombre y Email.</p>

    <form action="{% url 'admin:participante_cargar_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="submit-row">
            <input type="submit" value="Cargar y Procesar" class="default">
        </div>
    </form>
</div>
{% endblock %}